<!DOCTYPE html>
<html lang="he" ng-app="profile">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="/javascripts/profileScript.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- For Sweet-Alert -->
    <script src="javascripts/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/sweetalert.css">

    <!-- For Google Places API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg8O70B_iJ-Kr2UkIua7pr65_akMvIIH0&libraries=geometry,places">
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>דף הבית</title>

    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href='/stylesheets/profile.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

</head>


<body dir="rtl" ng-controller="ProfileController as proCtrl">

<div class = "preload">
    <img src = "/images/default.gif"/>
</div>

<div class = "content">
<div class="brand" id="profile">
    {{titleBusinessName}}
    <input type="image" src="/images/edit.png" alt="Submit" title="עריכת הפרופיל" ng-click="editProfile()" width="30" height="24">

</div>
<div class="address-bar">{{titleName}} {{titleLastName}} | {{titleLocation}} | {{titleSubject}}</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="profile.ejs">Business Casual</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
            <button ng-click= "topFunction()" id="myBtn" title="Go to top">חזור למעלה</button>
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" ng-click="clear()" >יציאה</a>
                </li>
                <li>
                    <a href="#contact">צור קשר</a>
                </li>
                <li>
                    <a href="#recommendations">המלצות</a>
                </li>
                <li>
                    <a href="#work_pics">תיק עבודות</a>
                </li>
                <li>
                    <a href="#profile">בית</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div dir="rtl" class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12" id="search">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>חיפוש</strong>
                </h2>
                <hr>
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="חיפוש לפי שם משתמש" id="searchName">
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="חיפוש לפי מקצוע" id="searchSubject">
            </div>
            <div class="col-lg-3">
                <input type="text" placeholder="חיפוש לפי מייל" id="searchMail">
            </div>
            <div class="col-lg-3">
                <div id="map-canvas"></div>
                <input placeholder="חיפוש לפי מיקום" id="searchLocation">
            </div>
            <div class="col-lg-12"><br></div>
            <div class="row">
              <div class="col-md-6">
                 <input type="submit" class="btn btn-primary pull-right" ng-click="clearSearch()" value="נקה תוצאות" />
              </div>
            <div class="col-md-1">
                <input type="submit" class="btn btn-primary pull-right" ng-click="search()" value="חפש" />
            </div>
            </div>
            <div class="col-lg-12"><br></div>
            <table>
                <tr>
                    <th>שם</th>
                    <th>מיקום</th>
                    <th>מקצוע</th>
                    <th>טלפון</th>
                </tr>
            </table>
            <div class="col-lg-12" ng-repeat="user in searchObj | orderBy: 'location'">
                <table>
                    <tr>
                        <td><a href="#" ng-click="gotoVisit(user)"> {{user.sirName}} {{user.familyName}} {{user.emailNew}}</a></td>
                        <td>{{user.location}}</td>
                        <td>{{user.subject}}</td>
                        <td>0{{user.phoneNumber}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center" id="work_pics">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>תיק עבודות</strong>
                </h2>
                <hr>
                <div id="carousel-example-generic" class="carousel slide" ng-if="pictureArray.length > 0">

                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs active">
                        <li data-target="#carousel-example-generic" data-slide-to="0" ></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" ng-repeat="picture in pictureArray">
                        <li ng-if="pictureArray.length == 0">
                            No sessions on this day.
                        </li>
                        <div class="item active" ng-show="pictureArray.length > 0">
                            <img class="img-responsive img-full" ng-src="{{pictureArray[0].data}}" alt="">
                        </div>
                        <div class="item" ng-show="pictureArray.length > 1">
                            <img class="img-responsive img-full" ng-src="{{pictureArray[1].data}}" alt="">
                        </div>
                        <div class="item" ng-show="pictureArray.length > 2">
                            <img class="img-responsive img-full" ng-src="{{pictureArray[2].data}}" alt="">
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <div ng-if="pictureArray.length == 0">
                    תיק העבודות ריק
                </div>
                </br>
                <div class="col-lg-12">
                 <input type="submit" class="btn btn-primary text-center" ng-click="editProfile()" value="עריכה" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12" id="recommendations">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>המלצות</strong>
                </h2>
                <hr>
                <!--  Review Form -->
                <form name="reviewForm">
                    <div class="col-lg-12" ng-repeat="owner in ownerObj">
                        {{$index + 1}}.   <b>דירוג:  </b> {{owner.rank}}/5
                        <br>
                        &emsp;<b> חוות דעת:  </b>{{owner.description}}
                        <br>
                        &emsp;<b>ממליץ:  </b><a href="#" ng-click="gotoVisit(owner)">{{owner.name}}</a>
                        <br><br><br>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="box">
            <div class="col-lg-12" id="contact">
                <hr>
                <h2 class="intro-text text-center">
                    <strong>צור קשר</strong>
                </h2>
                <hr>
                <h3 class="intro-text text-center">
                    {{titleName}} {{titleLastName}}
                    </br></br>
                    0{{phoneNumber}}
                    </br></br>
                    {{owner}}
                    </br></br></br>
                    <b> כמה מילים על עצמי:</b>
                    </br></br>
                    <div class="col-lg-12 text-center" ng-repeat="contact in ContactObject">
                        {{contact.description}}
                        </br></br>
                    </div>
                </h3>
                    <form class="form-group">
                    <textarea  ng-model="ContactObj.description" class="form-control" placeholder="כמה מילים על עצמך..." name="description" id="ContantDesc"></textarea>
                    </form>
                <div class="col-lg-12 intro-text text-center">
                    <input type="submit" class="btn btn-primary text-center" ng-click="addContact()" value="הכנס"/>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" id="copyrights">
                <p>Copyright &copy; MATAN ANTEBI</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>
</div>
</body>


</html>
